html, body {
	height: 100%;
	margin: 0px;
}

#TopArea{
	height:10%;
	width:100%;
	background-color:yellow;
	position:fixed;
}

#LeftArea{
	height:80%;
	width:20%;
	background-color:red;
	position:fixed;
	left:0px;
	top:10%;
}

#gameZone{
	padding : 0px;
	position:fixed;
	left:20%;
	top:10%;
}
	
#RightArea{
	height:80%;
	width:20%;
	background-color:green;
	position:fixed;
	left:80%;
	top:10%;
}

#BottomArea{
	height:10%;
	width:100%;
	background-color:grey;
	position:fixed;
	left:0px;
	top:90%;
}

#lienzo{
	border-color:black;
	border-style:solid;
	border-width:3px;
}